*{
  margin: 0;
}
.app{
  background: linear-gradient( 90deg,rgb(39, 176, 255) 0%,rgb(0, 232, 236) 100%);
}
.app__header{
  object-fit: contain;
  background-color: whitesmoke;
  padding: 5px;
  border-bottom: 1px solid cyan;
}
.app__headerImage{
  height: 80px;
}
.app__signup{
  display: flex;
  flex-direction: column;
}